html, body * {
	box-sizing: border-box;
	overflow: hidden;
}

header {
	height: 100px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: flex-end;
	background-color: green;
}

.header-title {
	line-height: 50px;
}

.header-navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-navbar-ul {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}

#header-avater {
	height: 100px;
	width: 100px;
	background-color: red;
}

.container {
	max-width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#aside {
	height: 1000px;
	width: 100%;
	margin-right: 30px;
}

#aside .navigator-wrap {
	background-color: brown;
	padding: 15px;
	margin: 30px 0;
}

#aside .navigator-body {
	height: 500px;
	width: auto;
	overflow-y: scroll;
}

#aside .navigator-wrap .navigator-body .navigator-item {
	background-color: #e4e4e4;
	padding: 5px;
	margin: 5px 2px;
}

#content {
	height: 1000px;
	width: 100%;
	overflow-y: scroll;
}

#content .project-name {
	margin-bottom: 10px;
}

#content .checklist-body .checklist-title {
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100%;
}

#content .checklist-body .checklist-item {
	display: flex;
	margin: 10px 0 10px 0;
	border: solid 1px black;
	box-shadow: 2px 2px 5px gray;
	flex-colum: 11;
}

#content .checklist-body .checklist-item .check-wrap {
	width: auto;
	flex-grow: 1;
}

#content .checklist-body .checklist-item .check-wrap .control-zoom {
	display: flex;
	justify-content: space-between;
}

#content .checklist-body .checklist-item .check-wrap .control-zoom .checkbox {
	height: 20px;
	width: 20px;
}

#content .checklist-body .checklist-item .check-wrap .control-zoom .checked-date {
	height: 20px;
	width: auto;
	margin-right: auto;
	background-color: yellow;
	line-height: 20px;
}

#content .checklist-body .checklist-item .check-wrap .control-zoom .delete-btn {
	height: 20px;
	width: 20px;
	font-size: 20px;
	line-height: 20px;
	color: red;
}

#content .checklist-body .checklist-item .check-wrap .title-zoom {
	display: flex;
}

#content .checklist-body .checklist-item .check-wrap .title-zoom .check-level {
	margin: 0 20px;
	color: red;
}

#content .checklist-body .checklist-item .check-wrap .title-zoom .check-name {
	font-weight: bold;
}

#content .checklist-body .checklist-item .check-wrap .check-content {
	padding: 30px;
	text-align: center;
}

#content .checklist-body .checklist-item .check-wrap .other-detail-btn {
	text-align: center;
}

#content .checklist-body .drag-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	min-width: 20px;
	max-width: 20px;
	flex-grow: 0;
	background-color: pink;
	font-size: 25px;
}